@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
 body {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  align-items: center;
}
.login{
    width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
h2{
    text-align: center;
    padding: 10px 0px;
    color: aliceblue;
    background-color: rgb(71, 3, 60);
}
form{
    padding: 30px 60px;
}
.input-field{
display: flex;
flex-direction: row;
margin: 10px 0px;
}
i{
    padding: 10px 14px;
    background-color: rgb(236, 236, 234);
    margin-right: 5px;
}
input{
     background-color: rgb(236, 236, 234);
     border: none;
     width: 100%;
     padding-left: 15px;
     outline: none;
}
button{
    background-color: rgb(33, 6, 59);
    padding: 10px;
    margin: 10px 0px;
    color: aliceblue;
    font-weight: 500px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.4s;
}
button:hover{

    background-color: rgb(179, 197, 16);
    color: rgb(255, 255, 255);

}
.extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.extra a:first-child{
    color: darkgrey;
}
.extra a:last-child{
    color: grey;
}

